body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
    background-color: rgb(40, 44, 52);
}

hr {
    border: 1px solid white;
    background-color: white;
    width: 95%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.box {
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 95%;
    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.biography {
    /* background-color: green; */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    width: 95%;
}

@media only screen and (max-width: 600px) {
    div.biography {
        flex-direction: column;
    }
}

div.portrait {
    /* background-color: blue; */
    width: auto;
    margin: auto;
}

img.portrait {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

div.about {
    /* background-color: red; */
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

div.name {
    font-size: 24pt;
    text-align: center;
    padding-bottom: 10px;
}

div.summary {
    text-align: left;
}

div.contact {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-around;
    font-size: 14pt;
}

img.contact-icon {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

div.contact a {
    display: flex;
    flex-direction: row;
}

div.contact a div {
    padding-left: 5px;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    div.contact {
        flex-direction: column;
    }
    div.contact a {
        padding: 5px;
    }
    div.contact a div {
        margin: unset;
        margin-right: auto;
    }
    img.contact-icon {
        margin: unset;
        margin-left: auto;
    }
}
