body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(50, 50, 55);
    color: black;
    margin: 0;
    width: 100%;
    height: 100%;
}
#container {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
canvas {
    background-color: black;
    width: 100%;
    height: 100%;
}
#bottom-bar {
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
}
#bottom-bar div {
    font-size: 4vh;
    margin-top: auto;
    margin-bottom: auto;
}
#bottom-bar div a {
    font-size: 2vh;
}
#bottom-bar .score-container {
    margin-left: 3vh;
    margin-right: auto;
}
#bottom-bar .mobile-container {
    margin-left: auto;
    margin-right: 2vh;
}
#bottom-bar .mobile-container a {
    background-color: lightgray;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    padding: 2px;
}
#bottom-bar .mobile-container a:hover {
    background-color: lightgreen;
    cursor: pointer;
}
#hide-mobile {
    display: none;
}
#mobile-controls {
    display: none;
}
.control-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.control-row div {
    width: 14vh;
    height: 14vh;
}
.control-button {
    background-color: lightskyblue;
    border-radius: 4vh;
    font-size: 3vh;
}
.control-button:hover {
    background-color: lightgreen;
    cursor: default;
}
.control-button b {
    display: block;
    margin-top: 37%;
}
#center {
    position: absolute;
    left: 50%;
    bottom: 50%;
}
.on-top {
    background-color: lightskyblue;
    border-radius: 3vh;
    position: relative;
    height: 200px;
    width: 300px;
    left: -150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.menu-title {
    font-size: 28pt;
}
.menu-button {
    font-size: 18pt;
    margin-bottom: 10px;
}
.menu-button a {
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
    border: solid;
    border-width: 3px;
    border-color: black;
    background-color: lightgrey;
}
.menu-button a:hover {
    background-color: lightgreen;
    cursor: pointer;
}
.menu-input {
    background-color: lightskyblue;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
}
