body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(50, 50, 55);
    color: black;
}
hr {
    color: black;
    border: 1px solid black;
    width: 94%;
}
#header {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}
#header div {
    font-size: 50px;
    padding-left: 20px;
    padding-top: 12px;
}
#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    background-color: lightskyblue;
    border-radius: 20px;
    height: min-content;
    margin-top: 10px;
}
.box-title {
    text-align: left;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
}
#play {
    max-width: 600px;
    width: auto;
    margin-right: 10px;
}
#play #instructions {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#img {
    text-align: center;
}
#img img {
    width: 80%;
    height: auto;
}
#play-snake {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}
#play-snake a {
    color: black;
    font-size: 18pt;
    text-decoration: none;
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}
#play-snake a:hover {
    background-color: lightgreen;
}
#leaderboard {
    max-width: 400px;
    width: 80%;
}
.leaderboard-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leaderboard-entry div {
    padding-right: 20px;
    padding-left: 20px;
}
#games-played {
    padding-bottom: 10px;
    padding-left: 10px;
}
@media only screen and (max-width: 600px) {
    #container {
        flex-direction: column;
        max-width: 400px;
    }
    #play {
        margin-right: 0px;
    }
    #leaderboard {
        width: 100%;
    }
}