{% extends "snake.html" %}
{% block content %}
    <section class="about" id="box">
        <h3>About</h3>
        <hr>created by David Vella 
        <br/>12/20/19
        <br/>
        <br/>JavaScript for snake adapted from <a class="link" href="https://youtu.be/9TcU2C1AACw">Code Explained</a>
        <br/>Created using <a class="link" href="http://flask.palletsprojects.com/en/1.1.x/">Flask</a>
        <br/>Learn Flask <a class="link" href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">here</a>
        <br/>
    </section>
    <div class="center-button">
        <h3><a class="button" href="{{ url_for('snake') }}">Return to Game</a></h3>
    </div>
{% endblock content %}