<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='portrait.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>David Vella - Home</title>
</head>
<body>
    <div class="box">
        <div class="biography">
            <div class="portrait">
                <img class="portrait" src="{{ url_for('static', filename='portrait.png') }}" alt="portrait">
            </div>
            <div class="about">
                <div class="name">
                    David Vella
                </div>
                <div class="summary">
                    Hello, my name is David and I am an undergraduate Computer Science student at the University of Michigan College of Engineering in Ann Arbor, MI. I am always writing software or tinkering with hardware. My primary interests are Linux and embedded systems. I am passionate about open source and my everyday laptop runs Arch Linux. I enjoy solving problems and look forward to taking on new challenges.
                </div>
            </div>
        </div>
        <hr>
        <div class="contact">
            <div class="contact-column">
                <a href="{{ url_for('static', filename='resume.pdf') }}" target="_blank">
                    <img class="contact-icon" src="{{ url_for('static', filename='logo-doc.png') }}">
                    <div>R&eacute;sum&eacute;</div>
                </a>
                <a href="https://github.com/David-Vella" target="_blank">
                    <img class="contact-icon" src="{{ url_for('static', filename='logo-github.png') }}">
                    <div>GitHub</div>
                </a>
            </div>
            <div class="contact-column">
                <a href="https://www.linkedin.com/in/david-vella-657b581b4/" target="_blank">
                    <img class="contact-icon" src="{{ url_for('static', filename='logo-linkedin.png') }}">
                    <div>LinkedIn</div>
                </a>
                <a id="copy-email" title="davella@umich.edu">
                    <img class="contact-icon" src="{{ url_for('static', filename='logo-email.png') }}">
                    <div>Email</div>
                </a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-title" id="interests-title">My Skills</div>
        <div class="interests">
            <div class="interest-items">
                <div class="interest-item" onmouseover="show_skill('C programming')">
                    <img id="C programming-img" class="interest-item" src="{{ url_for('static', filename='icon-c.png') }}">
                    <span class="interest-text">C</span>
                </div>
                <div class="interest-item" onmouseover="show_skill('C++ programming')">
                    <img class="interest-item" src="{{ url_for('static', filename='icon-cpp.png') }}">
                    <span class="interest-text">C++</span>
                </div>
                <div class="interest-item" onmouseover="show_skill('Pyhton programming')">
                    <img class="interest-item" src="{{ url_for('static', filename='icon-python.png') }}">
                    <span class="interest-text">Python</span>
                </div>
                <div class="interest-item" onmouseover="show_skill('Bash shell')">
                    <img class="interest-item" src="{{ url_for('static', filename='icon-shell.png') }}">
                    <span class="interest-text">Bash</span>
                </div>
                <div class="interest-item" onmouseover="show_skill('Linux')">
                    <img class="interest-item" src="{{ url_for('static', filename='icon-linux.png') }}">
                    <span class="interest-text">Linux</span>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-title">Recent Projects</div>
        <div class="project">
            <div class="project-title">
                Flight Controller
            </div>
            <div class="project-content">            
                <div class="project-summary">
                    An Arduino-based flight controller for radio-controlled aircraft capable of autonomous cruise, takeoff, and landing. The flight controller adds self-leveling features that make the aircraft more stable and easier to fly.
                </div>
                <div class="project-icons">
                    <img src="{{ url_for('static', filename='icon-cpp.png') }}">
                    <img src="{{ url_for('static', filename='icon-python.png') }}">
                    <a href="https://github.com/David-Vella/autopilot" target="_blank">View Code</a>
                    <a href="https://youtu.be/LKHaLUJmDkU" target="_blank">Watch Video</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="project">
            <div class="project-title">
                Snake Web App
            </div>
            <div class="project-content">
                <div class="project-summary">
                    An implementation of the classic snake game with a responsive Javascript/HTML/CSS frontend and Python backend. The app features a leaderboard to encourage friendly competition.
                </div>
                <div class="project-icons">
                    <img src="{{ url_for('static', filename='icon-js.png') }}">
                    <img src="{{ url_for('static', filename='icon-python.png') }}">
                    <a href="https://github.com/David-Vella/website" target="_blank">View Code</a>
                    <a href="https://davidvella.me/snake" target="_blank">Visit Site</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="project">
            <div class="project-title">
                Arduino MPU6050 Library
            </div>
            <div class="project-content">
                <div class="project-summary">
                    A lightweight Arduino library for computing roll, pitch, and yaw angles with the MPU6050 6-axis gyroscope and accelerometer. The library uses quaternions to accurately track orientation while also handling I2C communication with the sensor.
                </div>
                <div class="project-icons">
                    <img src="{{ url_for('static', filename='icon-cpp.png') }}">
                    <a href="https://github.com/David-Vella/mpu6050" target="_blank">View Code</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="project">
            <div class="project-title">
                GPU Power Manager
            </div>
            <div class="project-content">
                <div class="project-summary">
                    A tool that improves battery life on laptops running Linux with dedicated Nvidia graphics cards. The software puts the GPU into a low power state when not in use, reducing power consumption.
                </div>
                <div class="project-icons">
                    <img src="{{ url_for('static', filename='icon-c.png') }}">
                    <img src="{{ url_for('static', filename='icon-shell.png') }}">
                    <a href="https://github.com/David-Vella/optimus-manager-pm" target="_blank">View Code</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>