{% extends "snake.html" %}
{% block content %}
    <section class="leaderboard-page" id="box">
        <h3>Snake Leaderboard</h3>
        <hr>
        {% for user in leaderboard %}
            <section class="leaderboard-full">
                <div class="leaderboard-full-rank">{{ user.rank }}.</div>
                <div class="leaderboard-full-user">{{ user.name }}</div>
                <div class="leaderboard-full-score">{{ user.score }}</div>
            </section>
        {% endfor %}
    </section>
    <div class="center-button">
        <h3><a class="button" href="{{ url_for('snake') }}">Return to Game</a></h3>
    </div>
{% endblock content %}