<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='snake.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='play.css') }}">
    <title>Snake</title>
</head>
<body>
    <div id="container">
        <canvas id="canvas"></canvas>
        <div id="bottom-bar">
            <div class="score-container">Score: <span id="score"></span></div>
            <div id="show-mobile" class="mobile-container"><a>Show mobile controls</a></div>
            <div id="hide-mobile" class="mobile-container"><a>Hide mobile controls</a></div>
        </div>
        <div id="mobile-controls">
            <div id="controls-row-1" class="control-row">
                <div class="control-button" onclick="input_up()" ><b>UP</b></div>
            </div>
            <div id="controls-row-2" class="control-row">
                <div class="control-button" onclick="input_left()"><b>LEFT</b></div>
                <div></div>
                <div class="control-button" onclick="input_right()"><b>RIGHT</b></div>
            </div>
            <div id="controls-row-3" class="control-row">
                <div class="control-button" onclick="input_down()"><b>DOWN</b></div>
            </div>
        </div>
    </div>
    <div id="api-url" style="display: none;">{{ api_url }}</div>
    <div id="low-score" style="display: none;">{{ low_score }}</div>
    <script src="{{ url_for('static', filename='snake.js') }}"></script>
</body>
</html>